/* font family*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

:root {
    --primary: #FFDA1F
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body{
    margin:0 ;
    padding: 0;
    width: 100%;
    height: 1000px;
}

/*  HEADER  */
.container-header{
    display: grid;
    grid-gap: 10px;
}

.header {
    width: 100%;
    list-style: center;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    justify-content: space-between;
}

.header img{
    align-items: center;
    margin: 0;
    width: 178px;
    height: 62px;
    padding-left: 70px; 
    padding-bottom: 3px;
    padding-top: 4px;
}

.header p {
    font-size: 15px;
    width: 290px;
    color: #605E5E;
    font-family: Helvetica;
    height: 40px;
    padding-top: 25px;
    padding-left: 300px;
}

.header p b{
    color: rgb(47,46,46);
    padding: 0;
    margin: 0;
    width: 470px;
}


/*  MENU  */
.container-menu{
    display: grid;
    grid-gap: 20px;
}

.menu{
    width: 100%;
    background-color: #FFDA1F;
    list-style: none;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(4,1fr);
}

.menu a{
    text-decoration: none;
    color: #2F2E2E;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    padding: 10px 0px ;
    text-align: center;
}

.menu a:hover{
    color: white;
}

.nav-toggle{
    display: none;
}

/*  BODY  */
.contact-page{
    margin-top: 60px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}    

.contact-page h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
    font-weight: bold;
    color: #000000;
    font-style: italic;
    width: 419px;
    margin-left: 150px;
}

.contact-page form{
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    margin-top: 70px;
    margin-right: 170px;
    width: 531px;
    height: 351px;
    position: static;
    display: grid;
    min-height: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 100%;
}

.name{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* FIRST NAME*/
form .first-name{
    width: 220px;
    position: relative;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 21px;
    margin-left: 0px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    justify-self: start;
    align-self: start;
}

.first-name .f-name{
    color: rgb(47, 46, 46);
    word-break: break-word;
    display: inline-block;
    line-height: 1;
    margin-bottom: 9px;
    padding: 0 20px 0 2px;
    text-align: left;
    direction: ltr;
}

.first-name #first-name{
    height: 37px;
    position: relative;
    border-width: 1px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box!important;
    padding: 3px 3px 3px 10px;
    margin: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    text-align: left;
    direction: ltr;
    min-height: 37px;
    width: 100%;
    writing-mode: horizontal-tb!important;
    text-transform: none;
    display: inline-block;
    cursor: text;
    writing-mode: horizontal-tb!important;

}

/* LAST NAME */
form .last-name{
    position: relative;
    justify-self: start;
    align-self: start;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    width: 234px;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 21px;
    margin-left: 0px;
    left: 31px;
}

.last-name .l-name{
    color: rgb(47,46,46);
    word-break: break-word;
    display: inline-block;
    line-height: 1;
    padding-bottom: 9px;
    text-align: left;
    direction: ltr;
}

.last-name #last-name{
    width: 250px;
    height: 37px;
    position: relative;
    background-color: white;
    border-width: 1px;
    box-sizing: border-box!important;
    border-style: solid;
    padding: 3px 3px 3px 10px;
    margin: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    text-align: left;
    direction: ltr;
    min-height: 37px;
    writing-mode: horizontal-tb!important;
    cursor: text;
    text-transform: none;
    display: inline-block;
}

/* EMAIL */
.email{
    height: 60px;
    display: flex;
    position: relative;
    min-height: 25px;
    flex-direction: column;
    width: 530px;
}

.email-t{
    color: rgb(47,46,46);
    word-break: break-word;
    display: inline-block;
    line-height: 1;
    padding-bottom: 9px;
    text-align: left;
    direction: ltr;
}

#email-box{
    border-width: 1px;
    box-sizing: border-box!important;
    border-style: solid;
    padding: 3px 3px 3px 10px;
    margin: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    text-align: left;
    direction: ltr;
    min-height: 37px;
    width: 100%;
    text-transform: none;
    display: inline-block;
    cursor: text;
}

/* MESSAGE */
.message{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 530px;
    display: grid;
    position: relative;
    margin-bottom: 20px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    justify-self: start;
    align-self: start;
}

.msg-t{
    padding-bottom: 9px;
    color: rgb(47,46,46);
    word-break: break-word;
    display: inline-block;
    line-height: 1;
    text-align: left;
    direction: ltr;
    width: 100%;
    box-sizing: border-box;
}

.msg-box{
    -webkit-appearance: none;
    border-width: 1px;
    resize: none;
    box-sizing: border-box!important;
    border-style: solid;
    padding: 3px 10px 3px 10px;
    margin: 0;
    padding-top: 0.75em;
    max-width: 100%;
    min-width: 100%;
    overflow-y: auto;
    text-align: left;
    direction: ltr;
    height: 86px;
    display: block;
    writing-mode: horizontal-tb !important;
    text-transform: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
}

#successfully{
    visibility: hidden !important;
    min-height: 24px;
    height: auto;
    width: 310px;
    position: relative;
    margin: 6px 0px 15px 0;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    justify-self: start;
    align-self: start;
    overflow-wrap: break-word;
    text-align: start;
    pointer-events: none;
    display: block;
    left: 30px;
}

#successfully h5{
    margin: 0;
    color: rgb(47, 46, 46);
    letter-spacing: 0em;
    pointer-events: auto;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: start;
}

/* SEND BUTTON */
#send{
    width: 128px;
    height: 36px;
    position: relative;
    margin-bottom: 9px;
    left: 403px;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    justify-self: start;
    align-self: start;
    display: grid;
}

.send-btn{
    background-color: #FFDA1F;
    cursor: pointer!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #FFDA1F;
    border-radius: 10px;
    text-align: initial;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: max-content;
    justify-content: center;
    min-width: 100%;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: relative;
    white-space: nowrap;
    margin: 0;
    text-align: center;
}

.send-btn:hover{
    background-color: transparent;
    color: #FFDA1F;
    border-color: transparent;
}


/* FOOTER */
footer{
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
}

.contact{
    margin: 0;
    width: 1263px;
    height: 770px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
    grid-template-columns: repeat(6,1fr)
}

.contact h4 {
    text-align: center;
    padding-top: 50px;
    font-size: 92px;
    letter-spacing: -0.05em;
    color: rgb(255, 218, 31);
    display: grid;
}

/* Yellow Line*/
.first{
    width: 92px;
    height: 8px;
    background-color: rgb(255, 218, 31);
    border: 1px solid rgb(255, 218, 31);
    margin-left: 600px;
    margin-top: 15px;
    display: grid
}    

.contact h6 {
    line-height: 1em;
    text-align: center;
    justify-content: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 160, 159);
    letter-spacing: 0em;
    margin-top: 30px;
    display: grid;
    width: 1260px;
}

.icons{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    margin-top: 40px;
}

.icons p{color: rgb(160, 160, 159);}

.icon1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.icon1 img{
    width: 40px;
    margin-left: 150px;
}

.icon1 p{padding-top: 5px;}

.icons .icon2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 320px;
}

.icon2 img{
    width: 30px;
    margin-left: 70px;
}

.icon2 p{
    padding-left: 0px;
    width: 200px;
    padding-top: 2px;
}

.icons .icon3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 250px;
}

.icon3 img{width: 33px;}

.icon3 p{
    width: 200px;
    padding-top: 6px;
}

iframe{
    width:65%;
    height: 300px;
    margin-left: 230px;
    margin-top: 25px;
}

.social{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 130px;
    margin-left: 600px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.facebook img{width: 19px;}

.instagram img {width: 35px;}

.whatsapp img{
    margin-left: 13px;
    width: 37px;
}

.second{
    border:1px solid #605E5E;
    background-color: #605E5E;
    width: 1260px;
}

.copy{
    margin-top: 14px;
    color: #605E5E;
}


@media screen and (max-width:750px) {

    *{
        margin: 0;
        padding: 0;
    }

    body{width: 480px;}

    /* HEADER */
    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
    .header img{
        margin-left: 190px;
    }
    .header p {
        display: none;
    }

    /* MENU */
    .menu{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    position: absolute;
    font-weight: bold;
    }
    nav{
        transform: scale(1,0);
        transition: transform 400ms ease-in-out ;
        transform-origin: top;
    }
    nav a{
        opacity: 0;
        transition: opacity 150ms ease-in-out ;
    }
    .nav-toggle:checked ~ nav{
        transform: scale(1,1);
        
    }
    .nav-toggle:checked ~ nav a{
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
    .nav-toggle-label{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        margin-top: 12px;
        display: flex;
        align-items: center;
        width: 30px;
        border: 1px solid #FFDA1F;
        border-radius: 5px;
        padding-top: 23px;
        padding-left: 11px;
        padding-bottom: 23px;
        padding-right: 5px;
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: #605E5E;
        height: 2px;
        width: 24px;
        border-radius: 2px;
        position: relative;
    }
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
    .nav-toggle-label span::before{
        bottom: 9px;
    }
    .nav-toggle-label span::after{
        top: 9px;
    }

    /*  BODY  */
    .contact-page{
        width: 480px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 740px;
    }

    .contact-page h1{
        font-size: 45px;
        width: 200px;
        height: 50px;
        margin-left: 30px;
    }

    .contact-page form {
        width: 480px;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: -100px;
    }
    
    .contact-page .name{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 480px;
    }

    /* FIRST NAME */
    .first-name{padding-left: 30px;}
    .first-name .f-name{font-size: 18px;}
    .first-name .f-box{width: 400px}

    /* LAST NAME*/
    .last-name .l-name{font-size: 18px;}
    .last-name .l-box #last-name{width: 400px;padding-right: 387px;}

    /* EMAIL */
    .email {margin-top: 10px;margin-left: 30px;width: 400px;}
    .email-t{font-size: 18px}
    .email .e-box{width: 400px;}

    /* MESSAGE */
    .message {margin-top: 10px;margin-left: 30px;width: 400px;}
    .msg-t{font-size: 18px}
    .msg-box{max-width: 400px;height: 70px;}

    /* SEND BUTTON*/
    #send{margin-left: -100px;}


    /* FOOTER */
    footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: -180px;
    }

    .contact{
        width: 483px;
        grid-template-columns: repeat(1,1fr);
        height: 848px;
    }

    .first{margin-left: 190px;}

    .second{width: 480px;}

    .icons{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }

    .icon1{margin-right: 22px;}

    .icon1 p{
        margin-left: -25px;
        width: 170px;
    }

    .icon2 {margin-right: 30px;}

    .icon2 p{padding-left: 32px;}

    .icon3{margin-left:50px;}

    .icon3 p{margin-left: 26px;}

    .contact h4{font-size: 60px;}

    .contact h6{
        font-size: 19px;
        width: 474px;
        margin-left: 5px;
    }

    iframe {
        width: 70%;
        margin-left: 80px;
    }

    .social{margin-left: 200px;}

}
